{%  extends 'accounts/main.html' %}

{% block content %}
{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm table-responsive">
				<tr>
                    <th></th>
					<th>Customer</th>
					<th>Orders</th>
				</tr>
				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm table-responsive">
				<tr>
					<th>Customer</th>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
		        {% for order in orders %}
					<tr>
						<td>{{order.customer}}</td>
						<td>{{order.product}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td><a  class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
						<td><button  class="btn btn-sm btn-danger"  data-toggle="modal"
								data-target="#exampleModal{{ order.id}}">
							Delete</button>
							<div class="modal fade" id="exampleModal{{ order.id}}" tabindex="-1" role="dialog"
								 aria-labelledby="exampleModalLabel{{ order.id}}" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel{{ order.id}}">Confirmation
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Are You Sure Delete This Order of " {{order.product}} " ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
											</button>
											<form method="post" action="{% url 'delete_order' %}">
												{% csrf_token %}
												<input type="hidden" name="oid" value="{{order.id}}">
											<input  type="submit" class="btn btn-primary" value="Confirm">
											</form>

										</div>
									</div>
								</div>
							</div>
						</td>

					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}