{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Price</th>
							<th>Category</th>
						</tr>
						{% for product in page_obj %}
						<tr>
							<td>{{product.name|upper}}</td>
						    <td>{{product.price}}</td>
						    <td>{{product.category}}</td>
						</tr>
						{% endfor %}
						
					</table>
					<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
		<span class="current">
     {% for page in page_obj.paginator.page_range %}
    {% if forloop.counter != 1 %} | {% endif %}


		 <a class="btn btn-sm btn-outline-info" href="?page={{ page }}">{{ page }}</a>


    {% endfor %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
				</div>
			</div>
			
		</div>

{% endblock content %}
